body {
    font-family: Georgia;
    color: #333;
}

#logo {
    color: #000;
    height: 180px;
    width: 200px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    text-align: center;
    display: block;
    font-size: 250px;
    font-family: Georgia;
    margin: 0 auto;
    margin-bottom: -30px;
}

#content {
    width: 600px;
    margin: 0 auto;
}

p {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
}

label {

}

textarea, .html {
    border: 1px solid #bbb;
    padding: 5px;
    width: 100%;
    height: 350px;
    font-size: 18px;
    font-family: Inconsolata, monaco, courier;
    margin-bottom: 20px;
}

.json {
  margin-bottom: 0;
}

.run {
    margin-bottom: 20px;
    font-size: 130%;
}
