<!DOCTYPE html>
<!--
                                      _  _
                            _____*~~~  **  ~~~*_____
                         __* ___     |\__/|     ___ *__
                       _*  / 888~~\__(8OO8)__/~~888 \  *_
                     _*   /88888888888888888888888888\   *_
                     *   |8888888888888888888888888888|   *
                    /~*  \8888/~\88/~\8888/~\88/~\8888/  *~
                   /  ~*  \88/   \/   (88)   \/   \88/  *~
                  /    ~*  \/          \/          \/  *~
                 /       ~~*_                      _*~~/
                /            ~~~~~*___ ** ___*~~~~~  /
               /                      ~  ~         /
              /                                  /
             /                                 /
            /                                /
           /                    t__n__r__  /
          /                    | ####### |
         /            ___      | ####### |             ____i__           /
        /  _____p_____l_l____  | ####### |            | ooooo |         qp
i__p__ /  |  ##############  | | ####### |__l___xp____| ooooo |      |~~~~|
 oooo |_I_|  ##############  | | ####### |oo%Xoox%ooxo| ooooo |p__h__|##%#|
 oooo |ooo|  ##############  | | ####### |o%xo%%xoooo%| ooooo |      |#xx%|
 oooo |ooo|  ##############  | | ####### |o%ooxx%ooo%%| ooooo |######|x##%|
 oooo |ooo|  ##############  | | ####### |oo%%x%oo%xoo| ooooo |######|##%x|
 oooo |ooo|  ##############  | | ####### |%x%%oo%/oo%o| ooooo |######|/#%x|
 oooo |ooo|  ##############  | | ####### |%%x/oo/xx%xo| ooooo |######|#%x/|
 oooo |ooo|  ##############  | | ####### |xxooo%%/xo%o| ooooo |######|#^x#|
 oooo |ooo|  ##############  | | ####### |oox%%o/x%%ox| ooooo |~~~$~~|x##/|
 oooo |ooo|  ##############  | | ####### |x%oo%x/o%//x| ooooo |_KKKK_|#x/%|
 ooo~\|ooo|~\##############  | ~\####### |oox%xo%%oox%~\ooooo |_|~|~\|xx%/|
 ooo ||oHo| |####AAAA######  |h||##XX### |x%x%WWx%%/ox||ooDoo |_| |Y||xGGx|
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  | ~~~~~~~
-->
<html>
  <head>
    <title>&#123;&#123; mustache }}</title>
    <link href="burt.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="extras/highlight.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <span id="logo">}</span>
    <div id="content">
      <p>Logic-less templates.</p>

      <p>
        Available in
        <a href="http://github.com/defunkt/mustache">Ruby</a>,
        {{#languages}}
          <a href="{{url}}">{{name}}</a>,
        {{/languages}}
        {{#last_language}}
          and for
          <a href="{{url}}">{{name}}</a>.
        {{/last_language}}
      </p>

      <p>
        Works great with
        <a href="http://gist.github.com/323624">TextMate</a>,
        <a href="http://gist.github.com/323622">Vim</a>,
        and
        <a href="http://gist.github.com/323619">Emacs</a>.
      </p>

      <p>
        The Manual:
        <a href="mustache.5.html">mustache(5)</a>
        and
        <a href="mustache.1.html">mustache(1)</a>
      </p>

      <p>
        <a id="demo" href="#demo">Demo</a>
      </p>

      <div id="demo-box" style="display:none;">
        <label>Mustache</label>
        <textarea class="template">{{>template}}</textarea>

        <label>JSON <small>(try setting empty to true)</small></label>
        <textarea class="json">{{>json}}</textarea>

        <p><input type="button" class="run" value="Render Template"/></p>

        <label>HTML</label>
        <pre class="html sh_html"></pre>
      </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="extras/mustache.js"></script>
    <script src="extras/highlight.js"></script>
    <script src="tom.js"></script>
  </body>
</html>
