<!DOCTYPE html>
<html>
  <head>
    <title>&#123;&#123; mustache }}</title>
    <link href="burt.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <span id="logo">}</span>
    <div id="content">
      <p>Logic-less templates.</p>

      <p>
        Available in
        <a href="http://github.com/defunkt/mustache">Ruby</a>,
        {{#languages}}
          <a href="{{url}}">{{name}}</a>,
        {{/languages}}
        {{#last_language}}
          and for
          <a href="{{url}}">{{name}}</a>.
        {{/last_language}}
      </p>

      <p>
        Works great with
        <a href="http://gist.github.com/323624">TextMate</a>,
        <a href="http://gist.github.com/323622">Vim</a>,
        and
        <a href="http://gist.github.com/323619">Emacs</a>.
      </p>

      <p>
        The Manual:
        <a href="mustache.1.html">mustache(1)</a> and
        <a href="mustache.5.html">mustache(5)</a>
      </p>
    </div>
</html>