<!DOCTYPE html>
<html>
  <head>
    <title>&#123;&#123; mustache }}</title>
    <link href="burt.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <span id="logo">}</span>
    <div id="content">
      <p>Logic-less templates.</p>

      <p>
        Available in
        {{#languages}}
          <a href="{{url}}">{{name}}</a>,
        {{/languages}}
        {{#last_language}}
          and for
          <a href="{{url}}">{{name}}</a>.
        {{/last_language}}
      </p>

      <p>
        Works great with
        <a href="">Emacs</a>,
        <a href="">Vim</a>,
        and
        <a href="">TextMate</a>.
      </p>
    </div>
</html>