{
  "header": "Colors",
  "item": [
      {"name": "red", "current": true, "url": "#Red"},
      {"name": "green", "current": false, "url": "#Green"},
      {"name": "blue", "current": false, "url": "#Blue"}
  ],
  "link": true,
  "list": true,
  "empty": false
}