{{=| |=}}
<h1>{{header}}</h1>
{{#bug}}
{{/bug}}

{{#list}}
  {{#item}}
    {{#current}}
      <li><strong>{{name}}</strong></li>
    {{/current}}
    {{#link}}
      <li><a href="{{url}}">{{name}}</a></li>
    {{/link}}
  {{/item}}
{{/list}}

{{#empty}}
  <p>The list is empty.</p>
{{/empty}}
|={{ }}=|