 
<html>
  <head><title>Parent Template</title></head>
  <body>
  <div class="content">
  {{$child_content}}Content will be removed{{/child_content}}
  </div>
   <div class="content">
  {{$gchild_content}}Content will be removed{{/gchild_content}}
  </div>
  </body>
</html>
  