 
<html>
  <head><title>{{%title}}Default title{{/title}}</title></head>
  <body>
  <div class="content">
  {{%content}}Default content of the page{{/content}}
  </div>
 {{!>footer}}
  </body>
</html>
  