<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Mustache::Template::UnclosedSection</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../../../css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../../../css/main.css" type="text/css" media="screen" />
    <script src="../../../js/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../../js/jquery-effect.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../../js/main.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>     
    <div class="banner">
        <h1>
            <span class="type">Class</span> 
            Mustache::Template::UnclosedSection 
            
                <span class="parent">&lt; 
                    
                    RuntimeError
                    
                </span>
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../files/lib/mustache/template_rb.html">lib/mustache/template.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
    
    <div class="description">
        <p>
An <a href="UnclosedSection.html">UnclosedSection</a> error is thrown when
a {{# section }} is not closed.
</p>
<p>
For example:
</p>
<pre>
  {{# open }} blah {{/ close }}
</pre>

    </div>
    

    

    
    

    
    
    <div class="sectiontitle">Methods</div>
    <dl class="methods">
    
        <dt>N</dt>
        <dd>
            <ul>
                
                <li><a href="#M000005">new</a></li>
                
            </ul>
        </dd>
    
    </dl>
    

    

    

    

    

    
    <div class="sectiontitle">Attributes</div>
    <table border='0' cellpadding='5'>
        
        <tr valign='top'>
            <td class='attr-rw'>
                [R]
            </td>
            <td class='attr-name'>message</td>
            <td class='attr-desc'></td>
        </tr>
        
    </table>
    

    
            <div class="sectiontitle">Class Public methods</div>
            
            <div class="method">
                <div class="title" id="M000005">
                    
                    <a name="M000005"></a><b>new</b>(source, matching_line, unclosed_section)
                    
                </div>
                
                <div class="description">
                  <p>
Report the line number of the offending unclosed section.
</p>

                </div>
                
                
                
                
                <div class="sourcecode">
                    <p class="source-link">
                        Source: <a href="javascript:toggleSource('M000005_source')" id="l_M000005_source">show</a>
                        
                        | <a href="http://github.com/defunkt/mustache/blob/e391559603c432353cfdf81a14efa82b1b45b268/lib/mustache/template.rb#L21" target="_blank" class="github_url">on GitHub</a>
                        
                    </p>
                    <div id="M000005_source" class="dyn-source">
                        <pre><span class="ruby-comment cmt"># File lib/mustache/template.rb, line 21</span>
      <span class="ruby-keyword kw">def</span> <span class="ruby-identifier">initialize</span>(<span class="ruby-identifier">source</span>, <span class="ruby-identifier">matching_line</span>, <span class="ruby-identifier">unclosed_section</span>)
        <span class="ruby-identifier">num</span> = <span class="ruby-value">0</span>

        <span class="ruby-identifier">source</span>.<span class="ruby-identifier">split</span>(<span class="ruby-value str">&quot;\n&quot;</span>).<span class="ruby-identifier">each_with_index</span> <span class="ruby-keyword kw">do</span> <span class="ruby-operator">|</span><span class="ruby-identifier">line</span>, <span class="ruby-identifier">i</span><span class="ruby-operator">|</span>
          <span class="ruby-identifier">num</span> = <span class="ruby-identifier">i</span> <span class="ruby-operator">+</span> <span class="ruby-value">1</span>
          <span class="ruby-keyword kw">break</span> <span class="ruby-keyword kw">if</span> <span class="ruby-identifier">line</span>.<span class="ruby-identifier">strip</span> <span class="ruby-operator">==</span> <span class="ruby-identifier">matching_line</span>.<span class="ruby-identifier">strip</span>
        <span class="ruby-keyword kw">end</span>

        <span class="ruby-ivar">@message</span> = <span class="ruby-node">&quot;line #{num}: ##{unclosed_section.strip} is not closed&quot;</span>
      <span class="ruby-keyword kw">end</span></pre>
                    </div>
                </div>
                
            </div>
            
</div>
    </div>
  </body>
</html>    