* {{person.name.first}} {{person.name.last}}
* {{person.age}}
* {{person.hometown.city}}, {{person.hometown.state}}
* {{#person}}{{hometown.city}}, {{hometown.state}}{{/person}}
* {{#person}}{{#hometown}}{{city}}, {{state}}{{/hometown}}{{/person}}
* {{#person.hometown}}{{city}}, {{state}}{{/person.hometown}}
* {{#person}}{{#hometown.to_a}}{{first}}.{{last}};{{/hometown.to_a}}{{/person}}
* {{#person.hometown.to_a}}{{first}}.{{last}};{{/person.hometown.to_a}}
* {{normal}}

* {{{person.name.first}}} {{&person.name.last}}
* {{^person.alien?}}{{person.hometown.city}}, {{person.hometown.state}}{{/person.alien?}}
