<h3>Render Times</h3>

<table>
  <tr>
    <th>View</th>
    <th>Render Time</th>
  </tr>

  {{# times }}
    <tr>
      <td>{{ key }}</td>
      <td>{{ value }}</td>
    </tr>
  {{/ times }}
</table>

<h3>Variables</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
  </tr>

  {{# variables }}
    <tr>
      <td>{{ key }}</td>
      <td>{{ value }}</td>
    </tr>
  {{/ variables }}
</table>

