%h1= header
- if not item.empty?
  %ul
    - for i in item
      - if i[:current]
        %li
          %strong= i[:name]
      - else
        %li
          %a{:href => i[:url]}= i[:name]
- if item.empty?
  %p The list is empty.
